<%- include('./Include/Header.ejs') %>

<div class="form-container">
    <form action="/create" method="post">
        <input type="text" placeholder="Enter You name" name="name">
        <input type="email" placeholder="Enter You Email" name="email">
        <textarea name="message" placeholder="Enter Your message Here" name="message"></textarea>
        <button type="submit">Fill Form</button>
    </form>
</div>


<%- include('./Include/footer.ejs') %>