<%- include('./Include/Header.ejs') %>

<div class="crud_container">
<div class="crud_box">
    <div class="title_Container">
        <p>Name</p>
        <p>Email</p>
        <p>Message</p>
    </div>

    <div class="item">
        <div class="name">
            Abhishek Kumar
        </div>

        <div class="email">
            abhishek9661342993@gmail.com
        </div>


        <div class="message">
            hii
        </div>
    </div>
</div>
</div>

<%- include('./Include/footer.ejs') %>